<?xml version="1.0" encoding="UTF-8"?>
<module id="732" version="2018081117">
  <modulename>vpl</modulename>
  <sectionid>223</sectionid>
  <sectionnumber>4</sectionnumber>
  <idnumber>732</idnumber>
  <added>1537391485</added>
  <score>0</score>
  <indent>0</indent>
  <visible>1</visible>
  <visibleold>1</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <completion>0</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionview>0</completionview>
  <completionexpected>0</completionexpected>
  <availability>$@NULL@$</availability>
  <showdescription>0</showdescription>
  <tags>
  </tags>
</module>